.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

/.quarto/
lessons/Workshop/ProtoType/data/aspatial/respopagesextod2011to2020.csv
lessons/Workshop/ProtoType/data/aspatial/SGPools_svy21.csv
lessons/Workshop/ProtoType/data/Exam_data.csv
lessons/Workshop/ProtoType/data/geospatial/MP14_SUBZONE_WEB_PL.dbf
lessons/Workshop/ProtoType/data/geospatial/MP14_SUBZONE_WEB_PL.prj
lessons/Workshop/ProtoType/data/geospatial/MP14_SUBZONE_WEB_PL.shp
lessons/Workshop/ProtoType/data/geospatial/MP14_SUBZONE_WEB_PL.shp.xml
lessons/Workshop/ProtoType/data/geospatial/MP14_SUBZONE_WEB_PL.shx
lessons/Workshop/ProtoType_Choropleth Mapping System/data/aspatial/respopagesextod2011to2020.csv
lessons/Workshop/ProtoType_Choropleth Mapping System/data/aspatial/SGPools_svy21.csv
lessons/Workshop/ProtoType_Choropleth Mapping System/data/Exam_data.csv
lessons/Workshop/ProtoType_Choropleth Mapping System/data/geospatial/MP14_SUBZONE_WEB_PL.dbf
lessons/Workshop/ProtoType_Choropleth Mapping System/data/geospatial/MP14_SUBZONE_WEB_PL.prj
lessons/Workshop/ProtoType_Choropleth Mapping System/data/geospatial/MP14_SUBZONE_WEB_PL.shp
lessons/Workshop/ProtoType_Choropleth Mapping System/data/geospatial/MP14_SUBZONE_WEB_PL.shp.xml
lessons/Workshop/ProtoType_Choropleth Mapping System/data/geospatial/MP14_SUBZONE_WEB_PL.shx
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/aspatial/respopagesextod2011to2020.csv
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/aspatial/SGPools_svy21.csv
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/Exam_data.csv
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/geospatial/MP14_SUBZONE_WEB_PL.dbf
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/geospatial/MP14_SUBZONE_WEB_PL.prj
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/geospatial/MP14_SUBZONE_WEB_PL.shp
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/geospatial/MP14_SUBZONE_WEB_PL.shp.xml
lessons/Workshop/ProtoType_ProportionalSymbolMap/data/geospatial/MP14_SUBZONE_WEB_PL.shx
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/geospatial/MP14_SUBZONE_WEB_PL.dbf
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/geospatial/MP14_SUBZONE_WEB_PL.prj
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/geospatial/MP14_SUBZONE_WEB_PL.shp
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/geospatial/MP14_SUBZONE_WEB_PL.shp.xml
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/geospatial/MP14_SUBZONE_WEB_PL.shx
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/Exam_data.csv
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/aspatial/SGPools_svy21.csv
lessons/Workshop/ProtoType_ProportionalSymbolMap_Reactive/data/aspatial/respopagesextod2011to2020.csv
lessons/Hands-on/Hands-on-Ex2/data/aspatial/listings.csv
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.cpg
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.dbf
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.lyr
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.prj
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.sbn
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.sbx
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.shp
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.shp.xml
lessons/Hands-on/Hands-on-Ex2/data/geospatial/CyclingPathGazette.shx
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.dbf
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.kml
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.prj
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.sbn
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.sbx
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.shp
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.shp.xml
lessons/Hands-on/Hands-on-Ex2/data/geospatial/MP14_SUBZONE_WEB_PL.shx
lessons/Hands-on/Hands-on-Ex2/data/geospatial/preschools-location.geojson
lessons/Hands-on/Hands-on-Ex2/data/geospatial/preschools-location.kml
lessons/Hands-on/Hands-on-Ex2/data/aspatial/listings.csv
lessons/Hands-on/Hands-on-Ex3/data/aspatial/respopagesexfa2011to2020.csv
lessons/Hands-on/Hands-on-Ex3/data/geospatial/MP14_SUBZONE_WEB_PL.dbf
lessons/Hands-on/Hands-on-Ex3/data/geospatial/MP14_SUBZONE_WEB_PL.prj
lessons/Hands-on/Hands-on-Ex3/data/geospatial/MP14_SUBZONE_WEB_PL.sbn
lessons/Hands-on/Hands-on-Ex3/data/geospatial/MP14_SUBZONE_WEB_PL.sbx
lessons/Hands-on/Hands-on-Ex3/data/geospatial/MP14_SUBZONE_WEB_PL.shp
lessons/Hands-on/Hands-on-Ex3/data/geospatial/MP14_SUBZONE_WEB_PL.shp.xml
lessons/Hands-on/Hands-on-Ex3/data/geospatial/MP14_SUBZONE_WEB_PL.shx
lessons/Hands-on/Hands-on-Ex3/data/rds/mpszpop2020.rds
lessons/In-class/in-class_ex9/data/aspatial/mdata.rds
lessons/In-class/in-class_ex9/data/geospatial/MP14_SUBZONE_WEB_PL.dbf
lessons/In-class/in-class_ex9/data/geospatial/MP14_SUBZONE_WEB_PL.prj
lessons/In-class/in-class_ex9/data/geospatial/MP14_SUBZONE_WEB_PL.sbn
lessons/In-class/in-class_ex9/data/geospatial/MP14_SUBZONE_WEB_PL.sbx
lessons/In-class/in-class_ex9/data/geospatial/MP14_SUBZONE_WEB_PL.shp
lessons/In-class/in-class_ex9/data/geospatial/MP14_SUBZONE_WEB_PL.shp.xml
lessons/In-class/in-class_ex9/data/geospatial/MP14_SUBZONE_WEB_PL.shx
lessons/In-class/in-class_ex9/data/geospatial/MPSZ-2019.cpg
lessons/In-class/in-class_ex9/data/geospatial/MPSZ-2019.dbf
lessons/In-class/in-class_ex9/data/geospatial/MPSZ-2019.prj
lessons/In-class/in-class_ex9/data/geospatial/MPSZ-2019.qmd
lessons/In-class/in-class_ex9/data/geospatial/MPSZ-2019.shp
lessons/In-class/in-class_ex9/data/geospatial/MPSZ-2019.shx
lessons/In-class/in-class_ex9/data/model/coords_test.rds
lessons/In-class/in-class_ex9/data/model/coords_train.rds
lessons/In-class/in-class_ex9/data/model/gwRF_adaptive.rds
lessons/In-class/in-class_ex9/data/model/price_mlr.rds
lessons/In-class/in-class_ex9/data/model/test_data.rds
lessons/In-class/in-class_ex9/data/model/train_data.rds
lessons/Take-home/Take-home_ex3/data/